@font-face {
	font-family: "SourceSansPro";
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/SourceSansPro-ExtraLight.ttf") format("truetype");
}

@font-face {
	font-family: "SourceSansPro";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "SourceSansPro";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
}